body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  a {
    font-size: 25px;
    text-decoration: none;
    color: #494949;
  }

  p {
    color: black;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  footer {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .rodape {
    color: white;
  }